################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POC.PromoSignal.Back
/POC.PromoSignal.API/obj
/POC.PromoSignal.Domain/obj
/POC.PromoSignal.Service/obj