<div class="container container-login">
    <img src="assets/images/tag.png" />
    <br />
    <h1>REAL-PROMO</h1>
    <div class="container-form">
        <input class="form-control" type="text" placeholder="Empresa" />
        <br />
        <input type="text" placeholder="Chamada" />
        <br />
        <input type="text" placeholder="Regras" />
        <br />
        <input type="text" placeholder="Endereço(URL)" />
        
        <div class="container-button">
            <input class="btn btn-primary" type="button" value="CADASTRAR" />
        </div>
    </div>
</div>